<%# Skeleton loader for channel list items %>
<div class="animate-pulse px-4 py-2">
  <div class="flex items-center space-x-2">
    <div class="h-3 w-3 bg-gray-400 rounded"></div>
    <div class="h-4 bg-gray-300 rounded w-32"></div>
  </div>
</div>
